.label-wrapper {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 600;
  }

  input {
    width: 12em;
    margin-bottom: 12px;
    border: none;
    border-bottom: 1px solid #731a06;
    background: none;

    &:focus-visible {
      outline: none;
    }
  }
}
