.radio-wrapper {
  margin: 0 12px 24px 0;

  label {
    font-size: 14px;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 2px;
    width: 12px;
    height: 12px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-left: 4px;

    position: relative;
    top: 2px;
  }

  input:checked {
    border: 6px solid #731a06;
  }
}
